<div class="row">
  <div class="col-md-12">
    <h2>Toto je nejaky text</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi leo mi, nonummy eget tristique non, rhoncus non leo.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ligula pede, sagittis quis,
      interdum ultricies, scelerisque eu. Aenean id metus id velit ullamcorper pulvinar. Suspendisse nisl. Nemo enim ipsam
      voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras pede libero, dapibus nec, pretium sit
      amet, tempor quis. Proin in tellus sit amet nibh dignissim sagittis. Class aptent taciti sociosqu ad litora torquent
      per conubia nostra, per inceptos hymenaeos. Sed convallis magna eu sem.</p>
  </div>
</div>